APP_HOST=0.0.0.0
APP_PORT=8000
SESSION_DAYS=30
GUEST_SESSION_HOURS=6
REUSE_PROCESSED_OUTPUTS=true
FAST_SEPARATOR_BACKEND=sherpa_uvr
FAST_SEPARATOR_MODEL=UVR-MDX-NET-Voc_FT.onnx
FAST_SPLEETER_NUM_THREADS=4
FAST_SHERPA_UVR_MODEL=UVR-MDX-NET-Inst_HQ_4.onnx
FAST_SHERPA_UVR_NUM_THREADS=4
FAST_SHERPA_UVR_TARGET_STEM=instrumental
RABBITMQ_MANAGEMENT_HOST=127.0.0.1
RABBITMQ_MANAGEMENT_PORT=15672
MINIO_ROOT_USER=stemdeck
MINIO_ROOT_PASSWORD=stemdeck-secret
MINIO_CONSOLE_HOST=127.0.0.1
MINIO_CONSOLE_PORT=9001
STORAGE_BUCKET=stemdeck
